/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box; 
}

body{
	margin:0px;
	width: 100%;
	height: 100vh;
}

div header.titleheader{
	width: 100%;
	height: 100px;
	z-index: 999;
	background-color: rgb(22,24,20);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
div header.titleheader div.logo{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 100px; 

}
div header.titleheader div.logo div{
	/*margin-left: 100px;*/
	
	display: flex;
	
	color: white;

}
div header.titleheader div.logo h2.red{
	color: red;
}
div header.titleheader div.logo div h4{
	color: rgb(76,76,72);
}
div header.titleheader  div.scnd{
	width: 30%;
	display: flex;
	align-items: center;
}
div header.titleheader  div.scnd div{
	display: flex;
}
div header.titleheader  div.scnd div i{
	display: none;
}

div header.titleheader div.scnd h6{
	color: white;
}
div header.titleheader div.scnd h6 a{
	color: red;
	text-decoration: none;
	margin-left: 4px;
	margin-right: 4px;
}
div header.titleheader div.scnd h6 a:hover{
	color: white;
}
div nav{
	margin-left: 100px;
	margin-right: 80px;
	position: absolute;
	

}
div nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 72px;
    background-color: red;
}

div nav ul li {
    float: left;
}

div nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 107px 31px;
    text-decoration: none;
    border-left: 2px solid black;
}

div nav ul li a:hover:not(.active) {
    background-color: black;
}

div nav ul li a.active {
    background-color: black;
}
div img{
	 width: 1300px;
	  height: 100%;
	  margin-bottom: 0px;
}

div footer.pagefooter{
	margin-top: 0px;
	width: 100%;
	height: 200px;
	background-color: rgb(40,34,37);
	display: flex;
	justify-content: space-around;
}
div footer.pagefooter section{
	width: 30%;
	display: flex;
	flex-direction: column;
	padding-top: 36px; 
}

div footer.pagefooter section h3.head{
	color: white;
	padding-bottom: 16px;
	border-bottom: 2px solid white;
	
}
div footer.pagefooter section h2.no{
	color: white;
	margin-top: 14px;
	padding-bottom: 5px;
}
div footer.pagefooter section p{
	color: white;
	font-size: 12px;
}
#services{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 400px;
}
.p1 {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.p1 a{
	width: 25%;
	text-decoration: none;
	color: black;
}

.product{
	width: 100%;
	height:100px;
	padding-top: 10px;
	background-color:grey;
}
.product h2{
	
	margin-left: 10px;
}

.query{
	
	position: fixed;
	bottom:4px;
	right: 4px;
	background-color: grey;
	padding: 8px;
}
.query a{
	text-decoration: none;
	color: black;
}
.query a:hover{
	background-color: black;
	padding: 6px;
	color: white;
}
.aboutt{
	margin-top: 100px;
	margin-left: 100px;
	margin-right:200px;
	height: 300px;
}
.aboutt p{
	margin-top: 40px;
	font-size: 20px;
}

@media screen and (max-width:  720px) 
{
*{
	margin: 0px;
	padding: 0px;
}
body{
	width: 100%;
	height: 100vh;
}

div header.titleheader{
	padding-top: 8px;
	width: 100%;
	height: 30%;
	z-index: 999;
	background-color: rgb(22,24,20);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div header.titleheader div.logo{
	width: 100%;
	display: flex;
	flex-direction: column;
	
	 

}
div header.titleheader div.logo div{
	/*margin-left: 100px;*/
	
	display: flex;
	
	color: white;

}
div header.titleheader div.logo h2.red{
	color: red;
}
div header.titleheader div.logo div h4{
	color: rgb(76,76,72);
}
div header.titleheader  div.scnd{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
div header.titleheader  div.scnd div{
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-left: 70%;
}
div header.titleheader  div.scnd div i{
	margin-left: 20%;
	display: initial;
	cursor: pointer;
}

div header.titleheader div.scnd h6{
	color: white;
}
div header.titleheader div.scnd h6 a{
	color: red;
	text-decoration: none;
	/*margin-left: 4px;
	margin-right: 4px;*/
}
div header.titleheader div.scnd h6 a:hover{
	color: white;
}
div nav{
	/*margin-left: 100px;
	margin-right: 80px;*/
	position: absolute;
	top: 90px;
	left: 17%;
	width: 100%;
	display: none;
	

}
div nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    background-color: red;
}

div nav ul li {
    float: initial;
    
}

div nav ul li a {
    /*display: inline;*/
    color: white;
    text-align: center;

    padding: 10px 0px 10px;
    text-decoration: none;
    border-left: 2px solid black;
}

div nav ul li a:hover:not(.active) {
    background-color: black;
}

div nav ul li a.active {
    background-color: black;
}
div img{
	 width: 100%;
	  height: 100%;
	 margin: 0px;
	 padding: 0px;
}

div footer.pagefooter{
	margin-top: 0px;
	width: 100%;
	height: 40%;
	background-color: rgb(40,34,37);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
div footer.pagefooter section{
	width: 100%;
	display: flex;
	align-items: center;
	padding-top: 36px; 
	padding-bottom: 40px;
}

div footer.pagefooter section h3.head{
	color: white;
	padding-bottom: 16px;
	border-bottom: 2px solid white;
	
}
div footer.pagefooter section h2.no{
	color: white;
	margin-top: 14px;
	padding-bottom: 5px;
}
div footer.pagefooter section p{
	color: white;
	font-size: 12px;
	text-align: center;
}
div div#services{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}
div div#services div.p1 {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	width: 100%;
	height: 100%;
}
div div#services div.p1 a{
	width: 100%;
	margin-top: 1%;
	text-decoration: none;
	color: black;
}

div div#services div.p1 a div.product{
	width: 100%;
	height:100px;
	padding-top: 10px;
	background-color:grey;
}
div div#services div.p1 a div.product h2{
	
	/*margin-left: 10px;*/
}

.query{
	
	position: fixed;
	bottom:4px;
	right: 4px;
	background-color: grey;
	padding: 8px;
}
.query a{
	text-decoration: none;
	color: black;
}
.query a:hover{
	background-color: black;
	padding: 6px;
	color: white;
}
.aboutt{
	margin-top: 100px;
	margin-left: 100px;
	margin-right:200px;
	height: 300px;
}
.aboutt p{
	margin-top: 40px;
	font-size: 20px;
}
}