// Place all the styles related to the Queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.q{
	position:Absolute;
	top:200px;
	left:450px;
	background-color:rgb(86,85,90);
	padding: 15px;
	color:white;
}
form{
	color:white;
}