	<div>
		<header class="titleheader" id="header">
			<div class="logo">
				<div >
					<h2>JMD OIL</h2>
					<h2 class="red">&</h2>
					<h2 >CHEMICALS</h2>
				</div>
				<div>
					<h4>Trading Services</h4>
				</div>
			</div>

			<div class="scnd">
				<h6>HAVE AN ACCOUNT?</h6>
				<h6><a href="#done">SIGNIN</a></h6>
				<h6>OR</h6>
				<h6><a href="#done">SIGNOUT</a></h6>
			</div>
		</header>

		<nav>
			<ul>
 				 <li><a class="active" href="/" style="color: white;"><b>Home</b></a></li>
				 <li><a href="#services" style="color: white;"><b>Products</b></a></li>
 				 <li><a href="#contact" style="color: white;"><b>Contact</b></a></li>
 				 <li><a href="/about" style="color: white;"><b>About</b></a></li>
			</ul>
		</nav>
		<%=image_tag("logo/i2.jpg",width:"120")%>
		<div id="services">

			<div class="p1">
				<a href="/products/engine_oil"><div class="product one"><h2>Engine Oil</h2></div></a>
				<a href="/products/hydrolic_oil"><div class="product two"><h2>Hydrolic Oil</h2></div></a>
				<a href="/products/gear_oil"><div class="product three"><h2>Gear Oil</h2></div></a>
			</div>
			<div class="p1">
				<a href="/products/ref_oil"><div class="product four"><h2>Refrigeration Oil</h2></div></a>
				<a href="/products/spindle_oil"><div class="product five"><h2>Spindle Oil</h2></div></a>
				<a href="/products/heat_oil"><div class="product six"><h2>Heat Transfer Oil</h2></div></a>
			</div>
			<div class="p1">
				<a href="/products/mach_oil"><div class="product seven"><h2>Gen. Purpose Machine Oil</h2></div></a>
				<a href="/products/quen_oil"><div class="product eight"><h2>Quenching Oil</h2></div></a>
				<a href="/products/grease"><div class="product nine"><h2>Grease</h2></div></a>
			</div>
		</div>
		<div class="query">
		<h2><%= link_to 'Add Your QUERY', new_query_path %></h2>
		</div>
		<footer class="pagefooter" id="contact">
			<section>
				<h3 class="head">Online Support</h3>
				<h2 class="no">+ 91 9212021933</h2>
				<p>Ask your questions at email: jmdoilsandchemicals@gmail.com</p>
			</section>
			<section>
				<h3 class="head">Get in touch</h3>
				<h2 class="no">+ 91 9212021933</h2>
				<p>Ask your questions at email: jmdoilsandchemicals@gmail.com</p>
			</section>
		</footer>
	</div>