<!DOCTYPE html>
<html>
  <head>
    <title>Jmd2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="keywords" content="Jmdoil&chemicals,lubricating,industrial oil,ep,90,hydrolic,hydrolic oil,20w40,15w40,hp,iocl,indian oil,servo,castrol,grease,mobil oil,engine oil,supplier of lubricating oils and greases,supplier of hydraulic oil,supplier of gear oil ep 90 and ep 140,supplier of engine oil,supplier of refrigeration oil,supplier of transformer oil,supplier of spindle oil,supplier of machine oil,supplier of cutting oil,supplier of silicon oil and greases,supplier of enklo 68/32/46/150 oils,supplier of ap3 grease,supplier of multi purpose grease,supplier of mp 3 grease,supplier of ep 2 grease,supplier of wheel bearing grease,supplier of chassis grease,supplier of 20w40,supplier of 15w40,supplier of high temperature grease,supplier of quenching oils,supplier of rust preventive,supplier of heat transfer oils,supplier of rubber process oils,servo,castrol,indian oil,hp,hindustan oil,BP,mobil,shall,cabol,hydrolic oil,enclo 68,enclo 32,enclo 46,hythrum,elasto 710,elasto 245,elasto,servo sytem 68,hyspin 68,ap3 , high temperature grease epl2, liprex 0,liprex,libricating oil,libricating oil dealer,libricating oil dealer in delhi,gear oil EP-90" />
 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
